body{
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

table {
    width: 600px;
    height: 400px;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 2px solid rgb(15, 88, 43);
    text-align: center;
}

.Cabeçalho {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: lighter;
}